<ion-content padding>
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <ion-grid>
      <ion-row>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <ion-card border-color="secundary">
            <ion-card-header color="primary" class="ion-text-center">
              <ion-card-title> Ingrese su credenciales </ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-margin">
                <ion-item fill="solid" class="ion-margin-bottom">
                  <ion-label position="floating">Correo</ion-label>
                  <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
                <ion-item fill="solid" class="ion-margin-bottom">
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
              <div class="ion-text-center ion-margin-top">
                <ion-button type="submit" color="primary" [disabled]="!credentials.valid">Ingresar</ion-button>
                <ion-button type="button" expand="block" color="secondary" (click)="createAccount()">Crear cuenta</ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
